<div class="footer">
    <div class="footer_left">
        <div class="footer_left_address">
            Ул. Арбат, 1а, Москва,
            <br>
            119019, Россия  |  +7 (945) 000-00-00
        </div>
        <div class="footer_left_social">
            <div class="f_social_icons_div">
               <a href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook  footer_icons" aria-hidden="true"></i> </a>
               <a href="https://www.twitter.com" target="_blank"> <i class="fa fa-twitter  footer_icons" aria-hidden="true"></i> </a>
               <a href="https://www.tripadvisor.ru" target="_blank"> <i class="fa fa-tripadvisor  footer_icons" aria-hidden="true"></i> </a>
               <a href="https://www.instagram.com" target="_blank"> <i class="fa fa-instagram  footer_icons" aria-hidden="true"></i> </a>
            </div>
            <div class="f_social_btn" (click)="goContactPage()">Связаться</div>
        </div>
        <div class="footer_left_text">© 2025 Hotel «MODERN». Сайт создан на <a href="https://ru.wix.com/">Wix.com</a>.</div>
    </div>
    <div class="footer_right">
        <p>Subscribe for Updates</p>
        <input class="f_right_input" type="text" placeholder="Добавьте эл. почту*">
        <div class="f_right_btn">ОК</div>
    </div>
</div>