<div class="body_all">
    <div class="body_row_1">
        <div class="body_row_1_1">УДОБСТВА И УСЛУГИ</div>
        <div class="body_row_1_2"></div>
    </div>
    <div class="body_row_2">
        <div class="body_row_2_1">
            <ul>
                <li>Титулованный шеф-повар</li>
                <li>Закрытый бассейн и спа</li>
                <li>Фитнес-центр </li>
                <li>Конференц-залы</li>
                <li>Услуги консьержа</li>
                <li>Бесплатный Wi-Fi</li>
                <li>Номера с балконoм</li>
                <li>Захватывающий вид на город</li>
                <li>Галерея изящных искусств</li>
                <li>Бутилированная вода бесплатно</li>
                <li>Проживание с животными</li>
            </ul>
        </div>
        <div class="body_row_2_2"></div>
    </div>
</div>