<div class="event_body_all">
    <div class="event_row_1">
        <div class="event_row_1_1">ВСТРЕЧИ И СОБЫТИЯ</div>
        <div class="event_row_1_2"></div>
    </div>
    <div class="event_row_2">
        <div class="event_row_2_1">
            <p class="event_row_2_1_p1">Организация событий</p>
            <p class="event_row_2_1_p2">Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт.</p>
            <p class="event_row_2_1_p3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами.</p>
            <div class="event_row_2_1_btn" (click)="goContactPage()">СВЯЗАТЬСЯ >>></div>
        </div>
        <div class="event_row_2_1">
            <p class="event_row_2_1_p1">Свадьбы</p>
            <p class="event_row_2_1_p2">Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе. </p>
            <p class="event_row_2_1_p3">Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам. Расскажите интересную историю, например, как вам в голову пришла идея собственного дела, и объясните, в чем заключается ваше преимущество перед конкурентами. Приводите увлекательные факты и цифры.</p>
            <div class="event_row_2_1_btn" (click)="goContactPage()">ЗАПЛАНИРОВАТЬ >>></div>
        </div>
        <div class="event_row_2_1">
            <p class="event_row_2_1_p1">Кейтеринг</p>
            <p class="event_row_2_1_p2">Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе. Чтобы удалить этот текст, нажмите один раз и выберите значок «Корзина».</p>
                <p>Скачайте наши меню:</p>
                <a href="http://localhost:4200/home"> 
                    <p class="p_row_2_3">>> Завтрак </p>
                </a>
                <a href="http://localhost:4200/home"> 
                    <p class="p_row_2_3">>> Обед</p>
                </a>
                <a href="http://localhost:4200/home"> 
                    <p class="p_row_2_3">>> Ужин</p>
                </a>
                <a href="http://localhost:4200/home"> 
                    <p class="p_row_2_3">>> Кофе-брейк</p>
                </a>
        </div>
    </div>
</div>