<div class="contact_body_all">
    <div class="contact_row_1">
        <div class="contact_row_1_1">КОНТАКТЫ</div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.747294835912!2d44.515502715403865!3d40.17918607939362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4041d1761aa26407%3A0x2f5cdbf9d1fd8329!2sRepublic%20Square%2C%20Yerevan!5e0!3m2!1sen!2sam!4v1625831853442!5m2!1sen!2sam"
            width="80%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="contact_row_2">
      <div class="row_2_display">
          <div class="contact_row_2_1">
            <p class="row_2_1_p1">БРОНИРОВАНИЕ И ВОПРОСЫ</p>
            <p class="row_2_1_p2">Это текст. Нажмите один раз и выберите «Редактировать текст» или просто дважды
                кликните, чтобы добавить свой текст и настроить шрифт.</p>
            <p>Ул. Арбат, 1а, Москва, 119019, Россия</p>
            <p>Тел.: +7 (945) 000-00-00 | <a href="https://mail.ru/" target="_blank"><span>infomysite.ru</span></a></p>
            </div>
           <form class="contact_row_2_2" [formGroup]="contactForm">
             <input class="row_2_2_inputs" type="text" placeholder="Имя" formControlName="name">
             <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
                <small *ngIf="contactForm.get('name')?.errors?.['required']" style="color: red;">* Name is required</small>
                <small *ngIf="contactForm.get('name')?.errors?.['minlength']" style="color: red;">* Name can't be less than 2 letters</small>
             </div>

             <input class="row_2_2_inputs" type="text" placeholder="Эл. почта" formControlName="email">
             <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                <small *ngIf="contactForm.get('email')?.errors?.['required']" style="color: red;">* E-mail is required</small>
                <small *ngIf="contactForm.get('email')?.errors?.['email']" style="color: red;">* Please enter a valid E-mail</small>
             </div>

             <input class="row_2_2_inputs" type="text" placeholder="Телефон" formControlName="phone">
             <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid">
                <small *ngIf="contactForm.get('phone')?.errors?.['required']" style="color: red;">* Phone is required and must begin with + code</small>
             </div>

             <textarea class="row_2_2_big_input" type="text" placeholder="Добавьте сообщение ..."></textarea>
           </form>
      </div>
        <!-- <div class="contact_send_btn" *ngIf="contactForm.get('name')?.valid && contactForm.get('email')?.valid && contactForm.get('phone')?.valid" (click)="contactSendFn()">Отправить</div> -->
             <button [ngClass]="contactForm.valid ? 'contact_send_btn' : 'contact_send_btn_disabled'" 
             (click)="contactSendFn()"
             [disabled]="contactForm.invalid">Отправить</button>

    </div>
    
</div>